<?xml version="1.0" encoding="utf-8"?>

<robot name="robot_head">

  <link name="link1" /> #base_link
  <link name="link2" /> #pan_link
  <link name="link3" /> #tilt_link

  <joint name="joint1" type="continuous">
    <parent link="link1"/>
    <child link="link2"/>
  </joint>

  <joint name="joint2" type="continuous">
    <parent link="link2"/>
    <child link="link3"/>
  </joint>

</robot>
