<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Turtlebot -->
  <arg name="base"              default="$(env TURTLEBOT_BASE)"         doc="mobile base type [create, roomba]"/>
  <arg name="battery"           default="$(env TURTLEBOT_BATTERY)"      doc="kernel provided locatio for battery info, use /proc/acpi/battery/BAT0 in 2.6 or earlier kernels." />
  <arg name="stacks"            default="$(env TURTLEBOT_STACKS)"       doc="stack type displayed in visualisation/simulation [circles, hexagons]"/>
  <arg name="3d_sensor"         default="$(env TURTLEBOT_3D_SENSOR)"    doc="3d sensor types [kinect, asux_xtion_pro]"/>
  <arg name="simulation"        default="$(env TURTLEBOT_SIMULATION)"   doc="set flags to indicate this turtle is run in simulation mode."/>
  <arg name="serialport"        default="$(env TURTLEBOT_SERIAL_PORT)"  doc="used by create to configure the port it is connected on [/dev/ttyUSB0, /dev/ttyS0]"/>

  <param name="/use_sim_time" value="$(arg simulation)"/>

  <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
  </include>
  
  <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="serialport" value="$(arg serialport)" />
  </include>
  
  <include unless="$(eval arg('battery') == 'None')" file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
    <arg name="battery" value="$(arg battery)" />
  </include>

  <!-- Laser TF launch -->
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="serial_port" type="string" value="/dev/sensors/hokuyo_H1107995" />
    <param name="frame_id" type="string" value="laser" />
  </node>

  <!-- Human follower launch -->
  <node name="leg_finder" pkg="leg_finder" type="leg_finder_turtle" output="screen" args="--hyp">
    <param name="obst_xmin" value="0.0"/>
    <param name="obst_xmax" value="0.25"/>
    <param name="obst_ymin" value="-0.01"/>
    <param name="obst_ymax" value="0.01"/>
    <param name="obst_div" value="9"/>
  </node>
  
  <node name="human_follower" pkg="human_follower" type="human_follower_node" output="screen"/>

  <node name="laser_mannager" pkg="laser_manager" type="laser_manager_node" output="screen"/>

  <!-- rviz launch -->
  <node name="rviz" pkg="rviz" type="rviz"/>

  <!-- ARM launch -->
  <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
      <rosparam>
         namespace: dxl_manager
         serial_ports:
             pan_tilt_port:
                 port_name: "/dev/ttyUSB1"
                 baud_rate: 1000000
                 min_motor_id: 1
                 max_motor_id: 5
                 update_rate: 20
      </rosparam>
  </node>

  <!-- Start tilt joint controller -->
  <rosparam file="$(find turtlebot_start)/param/joints.yaml" command="load"/>
  <node name="tilt_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
       args="--manager=dxl_manager
             --port pan_tilt_port
             waist_controller
             shoulder_controller
             elbow_controller
             wrist_controller
             hand_controller"
       output="screen"/>

</launch>
